

/* header*/
header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(87, 78, 78);
}

button{
    cursor: pointer;
}


.logo{
    margin-left: 20px;
    display: flex;
}

h1{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 45px;
}

nav{
    display: flex;
    margin-right: 10px;
}

.navBtn{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow; 
    font-size: 25px;
    border: none;
    background-color: transparent;
}

.navBtn:hover{
    color:yellow;  
}

/* menu btn*/
.menuBtn{
    display: none;
 }
 


.notChoosen{
    color:white;
}

.meme-editor{
    display: flex;
    justify-content: space-between;
}

.settings-sect{
    margin-top: 20px;
}

.hidden{
    display: none;
}

ul{
    display: flex;
    flex-wrap: wrap;
     list-style-type: none;
}

li{
    cursor: pointer;
    margin-left: 5px;
}

/* buttons*/
.color-inp{
    
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* .file-input{
    cursor: pointer;
} */

/* custom file input*/

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.uploadSpan{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
.uploadSpan:hover{
    
    color: yellow;
}


a{
    text-decoration: none;
    color: black;
}

.galImg:hover{
    width: 200px;
    height: 200px;
    transition: 0.5s;
    box-shadow: 10px 10px 5px rgb(161, 159, 159);
    -moz-box-shadow: 10px 10px 5px rgb(161,159,159);
    -webkit-box-shadow: 10px 10px 5px rgb(161,159,159);
    -khtml-box-shadow: 10px 10px 5px rgb(161,159,159);
}

.memeImg:hover{
    width: 400px;
    height: 400px;
    transition: 0.7s;
    box-shadow: 10px 10px 5px rgb(161, 159, 159);
    -moz-box-shadow: 10px 10px 5px rgb(161,159,159);
    -webkit-box-shadow: 10px 10px 5px rgb(161,159,159);
    -khtml-box-shadow: 10px 10px 5px rgb(161,159,159);
}



/* SCREENS*/

.main-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: opacity .6s;
}

body.menu-open .main-screen {
    pointer-events: auto;
    opacity: 1;
}

.about{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* .about >*:first-child{
    margin-left: 50px;       
} */
/* .about >*:last-child{
    margin-right: 50px;       
} */

/*small*/

@media (max-width: 640px) {

  

    .main-nav{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        flex-direction: column;
        background-color: rgba(255, 255, 255, .9);
        width: 400px;
        height: 100px;
        transform: translateY(100%);
        border-inline-start: 1px solid #e0e0e0;
        transition: transform .6s, box-shadow .6s;
        display: none;
    }

    .unhide{
        display: block;
    } 

    .main-screen{
        display: block;
    }

    .menuBtn{
            border-radius: 5px;
            background-color: white;
            width: 80px;
            height: 80px;
            border: none;
            display: block;
            margin-right: 10px;
            cursor: pointer;
            transform: translateY(20%);
    }

    body.menu-open .main-nav {
        /* transform: translateX(0); */
        box-shadow: -2px -2px 20px rgba(0, 0, 0, .25);
    }

 
    
}